/* CSS Document */
div#wrapper {
    padding-bottom: 200px;
}
footer .footer-above .container {
    width: 100%;
    padding: 0px 29px;
    padding-left: 10%;
}
.nav>li>a>img {
    max-width: 80% !important;
}
p.social-buttons a {
    margin-right: 10px;
}
footer .footer-above {
  background: #d05125 !important;

}
footer .footer-above {

  padding-top: 20px;
  }
footer.text-center {
  overflow:hidden;
}
footer .footer-col {
  margin-bottom: 20px;
}
.ftrblock {
  text-align: left;
}
.ftrblock h4 {
  font-weight: normal;
  text-transform:uppercase;
  font-weight:600;
}
.ftrblock ul.footer-list {
  list-style: outside none none;
  padding: 0;
}
.ftrblock ul.footer-list li {
  margin-bottom: 10px;
}
.ftrblock ul.footer-list a {
  color: #fff;
}
address{ color:#fff;}
.ftrblock h4 {
  color: #fff;
}
.footer-list .btn.btn-info.btn-lg.anchortext.forgotpwdlink {
  border-radius: 0;
}
.footer-list button.btn.btn-info.btn-lg.anchortext.forgotpwdlink {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #000;
  margin: 0;
  padding: 0 !important;
  text-align: left;
}
.footer-list button.btn.btn-info.btn-lg.anchortext.forgotpwdlink.supportbox {
  border: medium none;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}
.scroll-top.page-scroll.visible-xs.visible-sm {
  position: absolute;
  bottom:0px;
}
footer{ position:relative;}
.scroll-top.page-scroll.visible-xs.visible-sm {
  right: 0px;
}
.requestdemo .modal-hero {
  background: #f2f5f8 none repeat scroll 0 0;
  border-bottom: 1px solid #d1dce6;
  border-radius: 3px 3px 0 0;
  padding: 30px;
}
.navbar-right{ right:0px !important;}
footer.text-center {
    overflow: hidden;
    position: fixed !important;
    float: left;
    width: 100% !important;
    z-index: 99999999999 !important;
    bottom: 0px;
}
.modal{z-index:9999999999!important;}